%h1 Gift Idea #{gift_idea.id}

%p= link_to "Gift Idea List", crud_gift_ideas_path

%p= link_to "Edit Gift Idea", edit_crud_gift_idea_path(gift_idea)

%p= link_to "Delete Gift Idea", crud_gift_idea_path(gift_idea), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }

= render partial: "attrs_table", locals: { attrs: gift_idea.table_attrs }
