%h1 Dashboard
%p= link_to "Artsy Viewer", artsy_viewer_path
%p= link_to "Fairing Direball", "faring_direball"
%p= link_to "Reading List", reading_list_path(year: Time.now.year)
%p= link_to "Root", root_path
%p= link_to "Style Pages", article_styles_path

%h2 Admin Pages
%p= link_to "Books", new_admin_book_path
%p= link_to "Project List", admin_projects_path

%h2 Api Routes
%p= link_to "Ping", "api/v1/ping"
%p= link_to "Word Rot Killswitch", "api/v1/word_rot/killswitch"
