= form_with model: [:crud, raw_hook] do |form|
  = form.text_area :body, placeholder: "body"
  = form.text_area :headers, placeholder: "headers"
  = form.text_area :params, placeholder: "params"
  = form.button button_label
