%h1 Edit Raw Hook #{raw_hook.id}

%p= link_to "Show Raw Hook", crud_raw_hook_path(raw_hook)

= form_with model: [:crud, raw_hook] do |form|
  = form.text_area :headers, placeholder: "headers", value: raw_hook.headers.to_json
  = form.text_area :params, placeholder: "params", value: raw_hook.params.to_json
  = form.text_area :body, placeholder: "body"
  = form.button "update"
