%h1 Edit Book #{book.id}

%p= link_to "Show Book", crud_book_path(book)

= form_with model: [:crud, book] do |form|
  = form.text_field :isbn, placeholder: "isbn"
  = form.text_field :title, placeholder: "title"
  = form.text_field :pages, placeholder: "pages"
  = form.date_field :finished_on, placeholder: "finished on"
  = form.button "update"
