%h1 New Book

%p= link_to "Book List", crud_books_path

= form_with model: [:crud, book] do |form|
  = form.text_field :isbn, placeholder: "isbn"
  = form.select :format, book_format_options, selected: book.format
  = form.date_field :finished_on, placeholder: "finished on"
  = form.button "create"
