%p= detail_description(analytics_report)

%table
  %thead
    %tr
      %th(class="w-[150px]") Requested At
      %th= analytics_report.metric_name.capitalize

  %tbody
    - analytics_report.rows.each do |row|
      %tr
        %td= row.requested_at.to_fs
        %td= link_to row.label, crud_apache_log_item_path(row.id)

= paginate analytics_report.paginated_items
