- content_for :header do
  %nav.flex.justify-between.items-center.py-6
    %p.m-0= link_to "prev", analytics_report_path(analytics_report.prev_params)
    %h1.m-0= analytics_report.period_start.strftime("%Y-%m")
    %p.m-0= link_to "next", analytics_report_path(analytics_report.next_params)
  %div.flex.justify-between.border-b-8.pb-6.border-dark-gray
    %p.m-0 Metrics: #{link_to "Browsers", analytics_report_path(metric: "browsers")}, #{link_to "Pages", analytics_report_path(metric: "pages")}, #{link_to "Referrers", analytics_report_path(metric: "referrers")}
    %p.m-0 Modes: #{link_to "Detail", analytics_report_path(mode: "detail")}, #{link_to "Summary", analytics_report_path(mode: "summary")}

= render analytics_report
