= form_with model: [:crud, apache_log_item] do |form|
  = form.date_field :REPLACE_ME, placeholder: "REPLACE_ME"
  = form.datetime_local_field :REPLACE_ME, placeholder: "REPLACE_ME"
  = form.file_field :REPLACE_ME, placeholder: "REPLACE_ME"
  = form.select :REPLACE_ME, REPLACE_ME, selected: REPLACE_ME
  = form.text_area :REPLACE_ME, placeholder: "REPLACE_ME"
  = form.text_field :REPLACE_ME, placeholder: "REPLACE_ME"
  = form.button button_label
