%h1 Apache Log Items

%p= link_to "New Apache Log Item", new_crud_apache_log_item_path

%p= link_to "Random Apache Log Item", crud_apache_log_item_path("random")

%table
  %thead
    %tr
      %th ID
      %th.text-right Created At
  %tbody
    - apache_log_items.each do |apache_log_item|
      %tr
        %td= link_to apache_log_item.id, crud_apache_log_item_path(apache_log_item)
        %td.text-right= apache_log_item.created_at.to_fs

= paginate apache_log_items
