%h1 Financial Accounts

%p= link_to "New Financial Account", new_admin_financial_account_path

%table
  %thead
    %tr
      %th ID
      %th Name
      %th.text-right Created At
  %tbody
    - financial_accounts.each do |financial_account|
      %tr
        %td= link_to financial_account.id, admin_financial_account_path(financial_account)
        %td= financial_account.name
        %td.text-right= financial_account.created_at.to_formatted_s(:long)

= paginate financial_accounts
