%h1 Edit Post Bin Request #{post_bin_request.id}

%p= link_to "Show Post Bin Request", crud_post_bin_request_path(post_bin_request)

= form_with model: [:crud, post_bin_request] do |form|
  = form.text_area :headers, placeholder: "headers", value: post_bin_request.headers.to_json
  = form.text_area :params, placeholder: "params", value: post_bin_request.params.to_json
  = form.text_area :body, placeholder: "body"
  = form.button "update"
