%h1 New Post Bin Request

%p= link_to "Post Bin Request List", crud_post_bin_requests_path

= form_with model: [:crud, post_bin_request] do |form|
  = form.text_area :headers, placeholder: "headers"
  = form.text_area :params, placeholder: "params"
  = form.text_area :body, placeholder: "body"
  = form.button "create"
