- content_for :head do
  = stylesheet_link_tag 'application', media: 'all'

#wrapper
  %h1= year
  %p #{books.count} books for #{number_with_delimiter total_pages} pages at a pace of #{pace} pages/day.

  %table
    %tbody
      - books.each do |book|
        %tr
          %td= book.title
          %td= book.finished_on&.strftime("%m/%d")
          %td= number_with_delimiter book.pages
