%nav.flex.justify-between.border-b-8.border-dark-gray
  %p= link_to 'Article', article_styles_path
  %p= link_to 'Color', color_styles_path
  %p= link_to 'Flashes', flashes_styles_path
  %p= link_to 'Form', form_styles_path
  %p= link_to 'Table', table_styles_path
