- content_for :header do
  %nav.flex.justify-between.items-center.py-6.border-b-8.border-dark-gray
    %p.m-0= link_to "prev", reading_list_path(reading_list.prev_year)
    %h1.m-0= reading_list.year
    %p.m-0= link_to "next", reading_list_path(reading_list.next_year)

%p #{reading_list.books.count} books for #{number_with_delimiter reading_list.total_pages} pages at a pace of #{reading_list.pace} pages/day.

%table.w-full
  %thead
    %tr
      %th Title
      %th.text-right Finished
      %th.text-right Pages
  %tbody
    - reading_list.books.each do |book|
      %tr
        %td= book.title
        %td.text-right= book.finished_on&.strftime("%m/%d")
        %td.text-right= number_with_delimiter book.pages
