%h1 Chores

%p= link_to "New Chore", new_crud_chore_path

%p= link_to "Random Chore", crud_chore_path("random")

%table
  %thead
    %tr
      %th ID
      %th.text-right Created At
  %tbody
    - chores.each do |chore|
      %tr
        %td= link_to chore.id, crud_chore_path(chore)
        %td.text-right= in_tz chore.created_at

= paginate chores
