%h1 BOOP!

%p
  Imagine reaching through time and space and making contact. From wherever you
  are to where I am. Real world impact. A Boop starts over there and then lands
  in my office, #{link_to "shown on a display", "https://lametric.com/en-US/time/overview"}
  for me to see and dismiss with the press of a button.

%p
  Pick an icon and then click the button to send me a Boop. Some Boops are
  spooky, some are fun. Others are straight from the heart. There is no wrong
  way to Boop.

= form_with model: boop do |form|
  %div#boop_icons.flex
    = form.label :display_type, value: "smile" do
      = form.radio_button :display_type, "smile", checked: true, class: "hidden"
      = image_tag "/boop_icons/smile.png", class: "m-0"
    = form.label :display_type, value: "skull" do
      = form.radio_button :display_type, "skull", class: "hidden"
      = image_tag "/boop_icons/skull.png", class: "m-0"
    = form.label :display_type, value: "heart" do
      = form.radio_button :display_type, "heart", class: "hidden"
      = image_tag "/boop_icons/heart.png", class: "m-0"
    = form.label :display_type, value: "beer" do
      = form.radio_button :display_type, "beer", class: "hidden"
      = image_tag "/boop_icons/beer.png", class: "m-0"
  = form.button "send boop"

%p If you are curious you can read the blog post #{link_to "Making Time for Boops", "https://www.jonallured.com/posts/2026/02/13/making-time-for-boops.html"} to learn more about how this all works.

%h2 Alternate Boop Methods

%p You might be wondering if there are other ways you can send me a Boop and if you are then you are in luck! My recomendation is to use #{link_to "httpie", "https://httpie.io"} like so:

%pre.text-off-black
  %code
    $ http https://app.jonallured.com/api/v1/boops display_type=robot

%p If that's not enough you could also install #{link_to "mli", "https://github.com/jonallured/mli"} and then either use it from the command line or from Ruby directly:

%pre.text-off-black
  %code
    $ mli boop create --display-type robot

%pre.text-off-black
  %code
    require "mli"
    Mli::Boop.create({display_type: "robot"})

%p There are a lot of ways to send me a Boop!

%h2 Some Boop Facts

%table
  %thead
    %tr
      %th Stat
      %th.text-right Value
  %tbody
    %tr
      %td Total Boop Count
      %td.text-right= Boop.count
    %tr
      %td Oldest Known Boop
      %td.text-right= Boop.oldest.created_at.to_fs
    %tr
      %td Current Boop Latency
      %td.text-right #{Boop.latency} seconds

%h2 Pending Boops

- if pending_boops.none?
  %p There are currently no pending Boops. Sieze the moment, this is your best chance.

- else
  %table
    %thead
      %tr
        %th Number
        %th Icon Type
        %th.text-right Created At
    %tbody
      - pending_boops.each do |boop|
        %tr
          %td= boop.number
          %td= boop.display_type
          %td.text-right= boop.created_at.to_fs
