%h1 Financial Statement #{financial_statement.id} for #{financial_account.name}

%p= link_to "Financial Statement List", crud_financial_account_financial_statements_path(financial_account)

%p= link_to "Edit Financial Statement", edit_crud_financial_account_financial_statement_path(financial_account, financial_statement)

%p= link_to "Delete Financial Statement", crud_financial_account_financial_statement_path(financial_account, financial_statement), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }

= render partial: "attrs_table", locals: { attrs: financial_statement.table_attrs }
