%header.md:mb-12= yield :header
%main
  - unless flash[:alert].nil?
    .flash.bg-purple.border-pink
      %p.alert= flash[:alert]
  - unless flash[:notice].nil?
    .flash.bg-dark-gray.border-purple
      %p.notice= flash[:notice]
  = yield
- if admin?
  %footer.border-t-8.border-dark-gray.text-center
    %p= link_to "dashboard", dashboard_path
