!!!
%html
  %head
    %title Monolithium
    = csrf_meta_tags
    = stylesheet_link_tag 'tailwind'
    = javascript_importmap_tags
    = yield :head
  %body.bg-off-black.text-off-white.selection:bg-pink.m-auto(class="max-w-[800px]")
    %header.mb-12= yield :header
    %main
      - unless flash[:alert].nil?
        .border.px-6.mb-8.text-sm.bg-purple.text-off-white.border-pink
          %p= flash[:alert]
      - unless flash[:notice].nil?
        .border.px-6.mb-8.text-sm.bg-dark-gray.text-off-white.border-purple
          %p= flash[:notice]
      = yield
    %footer= yield :footer
